@import 'reset';

.error-404 {
    height: 92vh;
    background-color: $cor_azul;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}