@import 'reset';

#navHeader {
    background-color: #fff !important;

    .container-fluid {
        margin: 0 10%;

        .navbar-brand {
            font-size: 2em;
            font-family: "Courier New", Courier, monospace;
            font-weight: 700;
            letter-spacing: 0.2em;
        }

        .web-sect {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            

            &::before {
                content: "";
                width: 0%;
                height: 2px;
                background-color: $cor_azul;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: .5s;
            }

            &:hover::before {
                width: 100%;
            }
        }

        #navbarNav .login {
            border: 1px solid #196273;
            padding: 5px 25px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                box-shadow: 0 0 10px #000;
            }
        }
    }
}
