$cor_azul:  #196273;
$cor_branca: #F4F4F0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: fit-content(40%) repeat(5, 1fr) 15vh;
    grid-template-areas: 
    "nav nav nav"
    "challenge challenge challenge"
    "projetos projetos projetos"
    "funcionamento funcionamento funcionamento"
    "perfil perfil perfil"
    "necessario necessario necessario"
    "footer footer footer"
    ;

    #navHeader {
        grid-area: nav;
    }

    #challenge-section {
        grid-area: challenge;
    }

    #projetos-section {
        grid-area: projetos;
    }

    #funcionamento-section {
        grid-area: funcionamento;
    }

    #perfil-section {
        grid-area: perfil;
    }

    #necessario-section {
        grid-area: necessario;
    }

    #footer {
        grid-area: footer;
    }
}

.login-body {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: fit-content(40%) 1fr 15vh;
    grid-template-areas: 
    "nav nav nav"
    "login login login"
    "footer footer footer"
    ;

    #navHeader {
        grid-area: nav;
    }
    #footer {
        grid-area: footer;
    }
    #login-main {
        grid-area: login;
    }
}