* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15vh repeat(5, 1fr) 15vh;
  grid-template-areas: "nav nav nav" "challenge challenge challenge" "projetos projetos projetos" "funcionamento funcionamento funcionamento" "perfil perfil perfil" "necessario necessario necessario" "footer footer footer";
}
body #navHeader {
  grid-area: nav;
}
body #challenge-section {
  grid-area: challenge;
}
body #projetos-section {
  grid-area: projetos;
}
body #funcionamento-section {
  grid-area: funcionamento;
}
body #perfil-section {
  grid-area: perfil;
}
body #necessario-section {
  grid-area: necessario;
}
body #footer {
  grid-area: footer;
}

.challenge-section {
  min-height: 100vh;
  background-color: #196273;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15vh repeat(5, 1fr) 15vh;
  grid-template-areas: "nav nav nav" "challenge challenge challenge" "projetos projetos projetos" "funcionamento funcionamento funcionamento" "perfil perfil perfil" "necessario necessario necessario" "footer footer footer";
}
body #navHeader {
  grid-area: nav;
}
body #challenge-section {
  grid-area: challenge;
}
body #projetos-section {
  grid-area: projetos;
}
body #funcionamento-section {
  grid-area: funcionamento;
}
body #perfil-section {
  grid-area: perfil;
}
body #necessario-section {
  grid-area: necessario;
}
body #footer {
  grid-area: footer;
}

.error-404 {
  height: 92vh;
  background-color: #196273;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15vh repeat(5, 1fr) 15vh;
  grid-template-areas: "nav nav nav" "challenge challenge challenge" "projetos projetos projetos" "funcionamento funcionamento funcionamento" "perfil perfil perfil" "necessario necessario necessario" "footer footer footer";
}
body #navHeader {
  grid-area: nav;
}
body #challenge-section {
  grid-area: challenge;
}
body #projetos-section {
  grid-area: projetos;
}
body #funcionamento-section {
  grid-area: funcionamento;
}
body #perfil-section {
  grid-area: perfil;
}
body #necessario-section {
  grid-area: necessario;
}
body #footer {
  grid-area: footer;
}

.funcionamento-section {
  min-height: 100vh;
  background-color: #196273;
}

.login-box {
  min-height: 60vh;
  overflow: hidden;
}
.login-box .login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15vh repeat(5, 1fr) 15vh;
  grid-template-areas: "nav nav nav" "challenge challenge challenge" "projetos projetos projetos" "funcionamento funcionamento funcionamento" "perfil perfil perfil" "necessario necessario necessario" "footer footer footer";
}
body #navHeader {
  grid-area: nav;
}
body #challenge-section {
  grid-area: challenge;
}
body #projetos-section {
  grid-area: projetos;
}
body #funcionamento-section {
  grid-area: funcionamento;
}
body #perfil-section {
  grid-area: perfil;
}
body #necessario-section {
  grid-area: necessario;
}
body #footer {
  grid-area: footer;
}

#navHeader {
  background-color: #fff !important;
}
#navHeader .container-fluid {
  margin: 0 10%;
}
#navHeader .container-fluid .navbar-brand {
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  letter-spacing: 0.2em;
}
#navHeader .container-fluid .web-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#navHeader .container-fluid .web-sect::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #196273;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
#navHeader .container-fluid .web-sect:hover::before {
  width: 100%;
}
#navHeader .container-fluid #navbarNav .login {
  border: 1px solid #196273;
  padding: 5px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
#navHeader .container-fluid #navbarNav .login:hover {
  box-shadow: 0 0 10px #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15vh repeat(5, 1fr) 15vh;
  grid-template-areas: "nav nav nav" "challenge challenge challenge" "projetos projetos projetos" "funcionamento funcionamento funcionamento" "perfil perfil perfil" "necessario necessario necessario" "footer footer footer";
}
body #navHeader {
  grid-area: nav;
}
body #challenge-section {
  grid-area: challenge;
}
body #projetos-section {
  grid-area: projetos;
}
body #funcionamento-section {
  grid-area: funcionamento;
}
body #perfil-section {
  grid-area: perfil;
}
body #necessario-section {
  grid-area: necessario;
}
body #footer {
  grid-area: footer;
}

.necessario-section {
  min-height: 100vh;
  background-color: #196273;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15vh repeat(5, 1fr) 15vh;
  grid-template-areas: "nav nav nav" "challenge challenge challenge" "projetos projetos projetos" "funcionamento funcionamento funcionamento" "perfil perfil perfil" "necessario necessario necessario" "footer footer footer";
}
body #navHeader {
  grid-area: nav;
}
body #challenge-section {
  grid-area: challenge;
}
body #projetos-section {
  grid-area: projetos;
}
body #funcionamento-section {
  grid-area: funcionamento;
}
body #perfil-section {
  grid-area: perfil;
}
body #necessario-section {
  grid-area: necessario;
}
body #footer {
  grid-area: footer;
}

.perfil-section {
  min-height: 100vh;
  background-color: #F4F4F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15vh repeat(5, 1fr) 15vh;
  grid-template-areas: "nav nav nav" "challenge challenge challenge" "projetos projetos projetos" "funcionamento funcionamento funcionamento" "perfil perfil perfil" "necessario necessario necessario" "footer footer footer";
}
body #navHeader {
  grid-area: nav;
}
body #challenge-section {
  grid-area: challenge;
}
body #projetos-section {
  grid-area: projetos;
}
body #funcionamento-section {
  grid-area: funcionamento;
}
body #perfil-section {
  grid-area: perfil;
}
body #necessario-section {
  grid-area: necessario;
}
body #footer {
  grid-area: footer;
}

.projetos-section {
  min-height: 100vh;
  background-color: #F4F4F0;
}
.projetos-section .projetos-title {
  color: #196273;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15vh repeat(5, 1fr) 15vh;
  grid-template-areas: "nav nav nav" "challenge challenge challenge" "projetos projetos projetos" "funcionamento funcionamento funcionamento" "perfil perfil perfil" "necessario necessario necessario" "footer footer footer";
}
body #navHeader {
  grid-area: nav;
}
body #challenge-section {
  grid-area: challenge;
}
body #projetos-section {
  grid-area: projetos;
}
body #funcionamento-section {
  grid-area: funcionamento;
}
body #perfil-section {
  grid-area: perfil;
}
body #necessario-section {
  grid-area: necessario;
}
body #footer {
  grid-area: footer;
}

.validation-section {
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
